# gradle

.gradle/
build/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/*

# relevant files in the run directory
!run/gameteststructures/
!run/world/
run/world/*
!run/world/level.dat_old
!run/config
run/config/*
!run/config/mctester.properties