name: Publish Release

on:
  release:
     types:
       - published

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Upload assets to GitHub
        uses: AButler/upload-release-assets@v2.0
        with:
            files: 'build/libs/*;LICENSE'
            repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload assets to CurseForge
        run: ./gradlew curseforge
        env:
            CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}